<div class="col-md-3 col-sm-3 col-lg-3 ">

	<a href="/chat" style="">
		<button class="mybtn" style=' ' >
			CHAT
		</button>
	</a>
	
	<a href="/profile" style="">
		<button class="mybtn" style="">
			PROFILE
		</button>
	</a>
	
	<a href="/requests/friendrequests" style="">
		<button class="mybtn" style="">
			REQUESTS
		</button>
	</a>
	
	<a href="/friendlist" style="">
		<button class="mybtn" style="">
			FRIEND LIST
		</button>
	</a>

	<a href="/findfriend" style="">
		<button class="mybtn" style="">
			FIND FRIEND
		</button>
	</a>

	<a href="/changepass" style="">
		<button class="mybtn" style="">
			CHANGE PASS
		</button>
	</a>

	<a href="/logout" style="">
		<button class="mybtn" style="">
			LOG OUT
		</button>
	</a>

</div>